[Desktop Entry]
Name=KeeWeb
GenericName=Password Manager
Exec=/opt/KeeWeb-1.5.4/KeeWeb
Icon=/opt/KeeWeb-1.5.4/resources/app/icon.png
Terminal=false
Type=Application
Categories=Utility;
